h1 {
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: yellow;
}

li {
    color: purple;
    font-size: 25px;
}

ul.recipes-list {
    list-style-position: inside;
    list-style-type: upper-roman;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(./images/border.png) 30 round;
}

div.container {
    text-align: center;
}